@charset "utf-8";

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


header, footer, .main_interface {font-family: var(--retro-font);}
.main_interface { width: 100vw; background: #fff; transition: transform 0.8s ease-in-out; margin-bottom: 230px; border-radius: 0 0 40px 40px;}
body ,main {background-color: #111111;}

/* 메인 표지 */
.top_interface { position: relative; background-color: #F5F5F7;}
.old_mac {position: relative; width: 100%; height: 100vh;}
.old_mac .mac {width: 27%; margin: 0 auto; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.back_font {position: absolute; top: 5%; z-index: -1; left: 50%; transform: translateX(-50%);}
.back_font .font{}


.juhee_main {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.juhee_main img{}
.juhee_main .rt_bubble, .juhee_main .lt_bubble {background-color: var(--blue); border-radius: 20px; padding: 10px 20px; color: #fff; display: inline-block; position: absolute; font-size: 1.2rem;}
.juhee_main .rt_bubble {top: 15%; right: -100%; width: 27ch;}
.juhee_main .lt_bubble {top: 55%; left: -80%; width: 18ch;}

.about_profile {padding: 150px 0;}
.about_profile .profile_title {text-align: center;}
.about_profile .profile_title h2{font-size: 1.2rem;}
.about_profile .profile_title h1{font-size: 2.5rem; margin-top: 20px;}

.profile_box {display: flex; width: 80%; margin: 80px auto 50px; justify-content: space-between; gap: 100px;}
.profile_box .main_profile{width: 30%; max-width: 400px; border-radius: 20px; object-fit: contain;}
.profile_box .profile_txt{display: flex; flex-wrap: wrap;}
.profile_box .profile_txt ul{width: 50%; padding: 0 30px;}
.profile_box .profile_txt ul li{}
.profile_box .profile_txt ul li h2{ margin-bottom: 20px; font-size: 1.5rem; border-bottom: #111111 1px solid; line-height: 2;}
.profile_box .profile_txt ul li h3{font-size: 1rem; line-height: 1.5;}
.profile_box .profile_txt ul li h3 span{margin-right: 15px;}
.profile_box .profile_txt ul .skill_box {display: flex; flex-wrap: wrap; padding: 0; width: 100%; gap: 10px;}
.profile_box .profile_txt ul .skill_box li {display: flex; flex-direction: column; align-items: center; width: 18%;}
.profile_box .profile_txt ul .skill_box .skill_img{width: 50px; height: 50px; background-color: #111111; display: flex; justify-content: center; align-items: center; border-radius: 10px;}
.profile_box .profile_txt ul .skill_box .skill_img img {filter: brightness(2); width: 20px; object-fit: contain;}
.profile_box .profile_txt ul .skill_box h3 {font-size: 0.8rem; margin-top: 5px;}

.line {border: 1px solid #F4F4F4;}

.container { padding: 150px 0; }

/* Left Sidebar */
.sidebar { color: var(--bk-font); width: 55%; margin: 0 auto; position: sticky; top: 5%; z-index: 2; transition: 0.3s;}
.sidebar.change_color {color: #fff;}

/* Sidebar Slider (for mobile) */
.sidebar .swiper-container {}
.sidebar .swiper-wrapper {justify-content: center;}
.sidebar .swiper-slide { text-align: center; font-size: 18px; display: flex; justify-content: center; align-items: center; cursor: pointer; flex-direction: column;}
.sidebar .swiper-slide img {width: 50px; margin-bottom: 10px;}

.content { display: none; background-color: #F5F5F7; width: 100%; margin-top: 60px; border-radius: 20px; padding: 20px; min-height: 700px; font-family: var(--retro-font);}
#hobby-content { display: block; /* Default content */}
.content p { font-size: 1.2em; }
.content ul { margin-top: 20px; list-style-type: none;padding: 0;}
.content ul li { margin-bottom: 10px;}

.hobby_section {text-align: center; padding: 100px 0;}
.hobby_section .hobby_title{}
.hobby_section .hobby_title h1{font-size: 3rem;}
.hobby_section .hobby_title h2{margin-top: 30px;}
.hobby_section .hobby_icon {display: flex; flex-wrap: wrap; gap: 50px; justify-content: center; width: 60%; margin: 0 auto;}
.hobby_section .hobby_icon li{display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 80px 0; width: 20%;}
.hobby_section .hobby_icon li img{height: 120px; object-fit: contain;}
.hobby_section .hobby_icon li h3{ margin-top: 20px;}
.hobby_section h4{ width: 65%; margin: 0 auto; line-height: 1.8;}

.personality_section {}
.keyword_box {position: relative; width: 60%; margin: 0 auto;}
.keyword_box .pixel_img{width: 50%; margin: 0 auto;}
.keyword_box .pixel_img img{}
.keyword_box .personality_keyword{}
.keyword_box .personality_keyword h3{position: absolute; font-size: 1rem;}
.keyword01{top: 18%; left: 26%;}
.keyword02{top: 28%; left: 17%;}
.keyword03{top: 50%; left: 23%;}
.keyword04{top: 78%; left: 18%;}
.keyword05{top: 63%; left: 6%;}
.keyword06{top: 27%; right: 6%;}
.keyword07{top: 24%; right: 31%;}
.keyword08{top: 48%; right: 20%;}
.keyword09{top: 81%; right: 31%;}
.keyword10 {top: 61%; right: 9%;}
.personality_section h4 {width: 70%; margin: 0 auto; line-height: 1.7; border: 3px solid #111111; border-radius: 20px; padding: 50px; margin-bottom: 60px;}

.skill_box {display: flex; flex-wrap: wrap; justify-content: center; padding: 2% 3% 3%;}
.skill_box .skill_info{width: 47%; border-radius: 20px; padding: 40px; margin: 20px; border: 3px solid #111111;}
.skill_box .skill_info h2{text-align: center; font-size: 1.5rem; font-weight: bold; border-bottom: #a7a7a7 1px solid; margin-bottom: 30px; padding-bottom: 15px;}
.skill_box .skill_info h3{font-size: 1rem; line-height: 1.5;}


/* PC (1024px 이상) */
@media only screen and (min-width: 1024px) {
  .hobby_section .hobby_title h1 {font-size: 3rem;}

  }
  
/* Tablet (768px ~ 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .old_mac {height:800px;}
  .old_mac .mac {width: 40%; padding-top: 150px;}
  .back_font {width: 80%; top: 12%;}

  .about_profile .profile_title h1 {font-size: 2rem;}

  .about_profile {padding: 100px 0;}
  .profile_box {flex-direction: column;}
  .profile_box .main_profile {width: 60%; margin: 0 auto;}
  .profile_box .profile_txt {display: flex; flex-direction: column; gap: 50px;}
  .profile_box .profile_txt ul {width: 80%; margin: 0 auto;}
  .profile_box .profile_txt ul .skill_box {margin-top: 50px;}
  .hobby_section .hobby_title h1 {font-size: 2rem;}

  .container {padding: 100px 0;}

  .hobby_section .hobby_icon {width: 90%;}

  .keyword_box {width: 80%;}
  .personality_section h4 {width: 80%;}

  .skill_box .skill_info {width: 75%;}
  }
  

/* Mobile (최대 767px) */
@media only screen and (max-width: 767px) {
  .old_mac .mac {width: 75%;}
  .old_mac {height: 600px;}
  .back_font {width: 80%;}
  
  .about_profile {padding: 80px 0;}
  .about_profile .profile_title h2 {font-size: 0.9rem;}
  .about_profile .profile_title h1 {font-size: 1.2rem;}
  .profile_box {flex-direction: column; width: 90%; margin: 30px auto; gap: 30px;}
  .profile_box .main_profile {width: 80%; margin: 0 auto;}
  .profile_box .profile_txt {display: flex; flex-direction: column; gap: 30px;}
  .profile_box .profile_txt ul {width: 100%;}

  .profile_box .profile_txt ul li h2 {font-size: 1.2rem;}
  .profile_box .profile_txt ul li h3 {font-size: 0.8rem;}

  .profile_box .profile_txt ul .skill_box li {width: 17%;}
  .profile_box .profile_txt ul .skill_box h3 {display: none;}

  .container {padding: 50px 0;}
  .content {min-height: 500px;}
   
  .hobby_section {padding: 50px 0;}
  .hobby_section .hobby_title h1 {font-size: 1.2rem;}
  .hobby_section .hobby_title h2 {font-size: 0.8rem;}
  .hobby_section .hobby_icon {width: 100%; gap: 20px; margin-top: 30px;}
  .hobby_section .hobby_icon li {width: 30%; margin: 10px 0;}
  .hobby_section .hobby_icon li img{height: 100px;}
  .hobby_section h4 {width: 90%; font-size: 0.8rem; margin-top: 30px;}

  .keyword_box {width: 95%;}
  .keyword_box .pixel_img {width: 100%;}
  .personality_keyword {display: none;}
  .personality_section h4 {width: 90%; padding: 20px; font-size: 0.9rem;}

  .skill_box .skill_info {width: 100%; padding: 10px; margin: 30px 0;}
  .skill_box .skill_info h2 {font-size: 1.2rem; margin-bottom: 20px;}
  .skill_box .skill_info h3 {font-size: 0.8rem;}
  
  .sidebar { width: 100%;}
  .sidebar .swiper-wrapper {justify-content: start;}
}