@charset "utf-8";
.main_interface { width: 100vw; height: 300vh; background: #fff; transition: transform 0.8s ease-in-out; margin-bottom: 230px; border-radius: 0 0 40px 40px;}

/* 메인 표지 */
.top_interface {
  position: relative;
}

.typing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#typing-text {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #777777;
  width: 26ch;
  animation: typing 3s steps(20) forwards, blink 0.6s infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 26ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.wave-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: flex-end;
}

.wave-bar {
  width: 4px;
  height: 30px;
  background: linear-gradient(108deg, #0894FF, #C959DD 34%, #FF2E54 68%, #FF9004);
  margin: 0 2px;
  animation: wave-animation 1s infinite ease-in-out;
  border-radius: 2px;
}

@keyframes wave-animation {
  0%, 100% { transform: scaleY(0.3); }
  50% { transform: scaleY(1); }
}

/* 각각 다른 시간 차이로 애니메이션 시작 */
.wave-bar:nth-child(2) { animation-delay: 0.1s; }
.wave-bar:nth-child(3) { animation-delay: 0.2s; }
.wave-bar:nth-child(4) { animation-delay: 0.3s; }
.wave-bar:nth-child(5) { animation-delay: 0.4s; }
.wave-bar:nth-child(6) { animation-delay: 0.5s; }
.wave-bar:nth-child(7) { animation-delay: 0.6s; }

.juhee_main {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.juhee_main img{}
.juhee_main .rt_bubble, .juhee_main .lt_bubble {background-color: var(--blue); border-radius: 20px; padding: 10px 20px; color: #fff; display: inline-block; position: absolute; font-size: 1.2rem;}
.juhee_main .rt_bubble {top: 15%; right: -100%; width: 27ch;}
.juhee_main .lt_bubble {top: 55%; left: -80%; width: 18ch;}


/* PC (1024px 이상) */
@media only screen and (min-width: 1024px) {


  }
  
/* Tablet (768px ~ 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  }
  

/* Mobile (최대 767px) */
@media only screen and (max-width: 767px) {

  #typing-text {
    font-size: 20px;
  }

  .wave-bar {
    height: 20px;
    width: 3px;
  }
  
  }