@charset "utf-8";
body ,main {background-color: var(--deep-black);}
.main_interface { width: 100vw; background: #fff; transition: transform 0.8s ease-in-out; margin-bottom: 230px; border-radius: 0 0 40px 40px;}

.tab_bar {display: flex; justify-content: center; gap: 13%; padding-top: 7%; width: 25%; margin: 0 auto;}
.tab_bar li{width: 33.3333%;}
.tab_bar li a{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.tab_bar li a img{width: 80%;}
.tab_bar li a h2{font-weight: 600; margin-top: 10px; font-size: 1rem;}

.work_section {margin-left: 5%; padding-top: 80px;}
.work_section h1{ font-size: 2rem; font-weight: bold; }
.work_section .workSwiper {padding: 30px 0 100px; padding-right: 100px;}
.work_section .swiper-wrapper .swiper-slide{position: relative;}
.work_section .swiper-wrapper .swiper-slide img{border-radius: 20px;}
.work_section .swiper-wrapper .swiper-slide h3 {margin-top: 20px; font-weight: 600; font-size: 1rem;}

.work_section .view_more {position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); transition: 0.3s;}

/* PC (1024px 이상) */
@media only screen and (min-width: 1024px) {
  .work_section h1 {font-size: 3rem;}
   
  .work_section .swiper-wrapper .swiper-slide {transition: 0.3s;}
  .work_section .swiper-wrapper .swiper-slide:hover {transform: translateY(-10px);}
  .work_section .swiper-wrapper .swiper-slide img{filter: grayscale(1); transition: 0.3s;}
  .work_section .swiper-wrapper .swiper-slide:hover img {filter: grayscale(0);}

  .work_section .view_more {filter: opacity(0);}
  .work_section .swiper-slide:hover .view_more {filter: opacity(1);}
  }
  
/* Tablet (768px ~ 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .main_interface { border-radius: 0 0 30px 30px;}
  .mockup {height: 700px;}
  .tab_bar {width: 50%;}
  }
  

/* Mobile (최대 767px) */
@media only screen and (max-width: 767px) {
  .main_interface { border-radius: 0 0 20px 20px;}
  .mockup .mac {width: 75%;}
  .mockup {height: 600px;}
  .back_font {width: 80%;}

  .tab_bar { width: 80%; margin: 0 auto; gap: 6%; padding-top: 50px;}
  .tab_bar li a img{width: 80%;}
  .tab_bar li a h2{font-size: 0.8rem;}

  .work_section .workSwiper {padding: 20px 0 0; padding-right: 50px;}
  .work_section h1 {font-size: 1.5rem;}
  .work_section .swiper-wrapper .swiper-slide h3 {font-size: 0.8rem;}
  .work_box {padding-bottom: 80px;}
  }