@charset "utf-8";
:root {
    --kr-font: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    --en-font: "Inter", Arial, Helvetica, sans-serif;
    --bk-font: rgba(44, 44, 44, 1);
    --blue : rgba(33, 129, 250, 1);
  }

body {font-family: var(--en-font); overflow-x: hidden;}
body::-webkit-scrollbar {display: none;}

/* 페이드업 효과 */
.fade_up { opacity: 0; transform: translateY(80px); transition: opacity 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);}
.fade_up.visible { opacity: 1;transform: translateY(0); }

/* header */
header { color: var(--bk-font); position: fixed; top: 0; z-index: 99; height: 50px; line-height: 50px; width: 100vw; transition: color 0.3s, background-color 0.3s;}
header .header_flex {width: 98%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
.time-container {display: flex; gap: 20px; font-size: 0.9rem;}
.status { width: 60px; height: 30px; background: url('../../asset/image/status_bk.png') no-repeat center/contain; transition: background-image 0.3s; }
.scroll-active { color: #fff; }
.scroll-active .status {background: url('../../asset/image/status_wt.png') no-repeat center/contain;}

/* menu */
.menu-bar { width: 450px; height: 50px; display: flex; justify-content: space-around; align-items: center; background-color: #ffffff; border-radius: 30px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); position: fixed; bottom: 5%; left: 50%; transform: translateX(-50%); z-index: 49;}
.menu-bar a { text-decoration: none; color: #000; font-size: 0.9rem; font-weight: bold; padding: 7px 20px; border-radius: 20px; transition: all 0.3s ease; }
/* 메뉴 활성화 상태 */
.menu-bar a.active { background-color: var(--blue); color: #ffffff;}


/* PC (1024px 이상) */
@media only screen and (min-width: 1024px) {

  }
  
/* Tablet (768px ~ 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  }
  
/* Mobile (최대 767px) */
@media only screen and (max-width: 767px) {
    .mo_blind {display: none!important;}

  }